
body {
  background-image: url('background.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 50px;
}

#box {
}

div {
  color: #000000;
  text-align: center;
  padding: 3ch;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Brush Script MT';
} 
